@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;700;900&display=swap');
$button:#FF4343;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.banner::before{
	content: '';
	display: flex;
	border: none;
	border-top: 1px solid rgba(186, 187, 197, 1) ;
	width: 97%;
	margin: -20px auto;
	max-width: 1170px;
}
.banner{
	padding-top: 100px;
	width: 100%;
	max-width: 1170px;
	font-family: 'Raleway';
	font-style: normal;
}
h1{
	width: 100%;
	height: 10%;
	font-weight: 900;
	text-align: center;
	font-size: 64px;
	margin: 6% auto;
	margin-bottom: 0;
}
.navigation_item_text{
	width: 67%;
	height: 10%;
	font-weight: 400;
	text-align: center;
	margin-left: 16%;
	margin-top: 2%;
	font-size: 24px;
}
.banner_button{
	background-color: $button;
	width: 300px;
	height: 52px;
	color: white;
	border: 1px solid $button;
	text-align: center;
	font-weight: 700;
	margin:3% 0 0 37%;
}
@media (max-width: 850px){
	.banner{
		padding: 135px 10px 0;
	}
	h1{
		font-size: 48px;
		line-height: 50px;
	}
	.navigation_item_text{
		font-size: 14px;
	}
	.banner_button{
		width: 250px;
		margin: 0 auto;
	}
	.banner_item{
		text-align: center;
		margin-top: 10%;
}
}
@media (max-width: 500px) {
	.banner{
		max-width: 500px;
		padding-top: 60px;
	}
	.banner::before{
		display: none;
	}
	.banner_item{
		text-align: center;
		margin-top: 10%;
}
	h1{
		font-size: 34px;
		line-height: 40px;
		width: 72%;
		margin-top: 4%;
		margin-bottom: 10px;
		padding:0 5px;
	}
	.navigation_item_text{
		font-size: 14px;
	}
	.banner_button{
		width: 250px;
		margin: 0 auto;
	}
}

