@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;700;900&display=swap');
.footer{
	width: 100%;
	padding-top: 30px;
	background-color: #353c65;
	color:white;
	font-family: 'Raleway';
	text-align: center;
}
.footer_item{
	width: 100%;
	height: 100%;
	padding: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 4%;
}
.footer_text{
	width:100%;
	color:white;
	font-weight: 400;
	font-size: 18px;
	margin: 3% auto;
}
.footer_title{
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	margin-top: 12%;
}
.footer_icon{
	margin-top: 3%;
	width: 100%;
}
.icon_facebook, .icon_linkedin, .icon_twitter{
	margin-right: 2%;
}
.footer_location{
	width: 35%;
}
.footer_social{
	width: 35%;
}
.footer_about{
	width: 33%;
}
.copyright{
	width: 100%;
	height: 33%;
	background-color: rgba(44, 49, 84, 1);
	color: white;
}
.copytight_item{
	display: inline-flex;
}
.copyright_text{
	padding-top: 2%;
	width: 390px;
	margin: 0 auto;
}
.copyright_text_1{
	color: rgba(128, 128, 128, 1);
	font-weight: 400;
	font-size: 18px;
	padding-bottom: 10px;
}
.copyright_text_3{
	color:white;
	font-weight: 400;
	font-size: 18px;
	padding-left: 1px;
}
@media (max-width:850px) {
	.footer_text{
		font-size: 13px;
	}
	.footer_title{
		font-size: 14px;
	}
	.copyright_text_1, .copyright_text_3{
		font-size: 16px;
		padding-bottom: 10px;
	}
}
@media (max-width: 500px) {
	.copyright_text{
		width: 100%;
		max-width: 500px;
	}
	.footer_item{
		flex-direction: column;
	}
	.footer_location, .footer_social, .footer_about{
		width: 75%;
		padding: 15px 0; 
	}
	.footer_text{
		font-size: 14px;
		line-height: 16px;
		margin:30px 0 ;
	}
	.footer_title{
		font-size: 14px;
		line-height: 16px;
		margin:25px 0 ;
	}
	.copyright_text_1, .copyright_text_3{
		font-size: 14px;
		line-height: 16px;
	}
	.copyright_text{
		padding: 20px 40px;
	}
}
